.button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #000000;
    width: auto;   /* Changed from 100% */
    border: 1px solid #000000;
    padding: 8px 16px;   /* Adjusted padding for size */
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;   /* Added margin for spacing */
}

.error{
    width: 40%;
    background: #FF3632;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.pop-up{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

