.taskmodal {
    font-family: "Roboto", sans-serif;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}


.modal-content {
    font-family: "Roboto", sans-serif;
    position: relative;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center; /* Center content vertically */
}

.page-button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #000000;
    width: auto;   /* Changed from 100% */
    border: 1px solid #000000;
    padding: 8px 16px;   /* Adjusted padding for size */
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;   /* Added margin for spacing */

}

.button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #000000;
    width: auto;   /* Changed from 100% */
    border: 1px solid #000000;
    padding: 8px 16px;   /* Adjusted padding for size */
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;   /* Added margin for spacing */
}