/* nice login page styling */
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #FFFFFF;
  width: 100%;
  border: 1px solid #000000;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 5px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #000000;
  width: 100%;
  border: 1px solid #000000;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

.form button:hover,.form button:active,.form button:focus {
  background: #000000;
}

.form .message {
  margin: 15px 0 0;
  color: #000000;
  font-size: 12px;
}