/* Navbar container styles */
.navbar-container {
    background-color: #40b4b4;
    display: flex;
    justify-content: center; /* Center the navbar horizontally */
    padding: 5px; /* Add padding to the navbar container */
}

/* Navbar styles */
.navbar {
    display: flex;
    flex-wrap: wrap; /* Allow navigation links to wrap to the next line if needed */
    gap: 20px; /* Add space between navigation links */
}

/* Navbar link styles */
.navbar a {
    color: #40b4b4; 
    background-color: transparent; 
    transition: background-color 0.3s; 
    border-radius: 6px;
    padding: 5px 20px; /* Add padding to create a button-like appearance */
}

/* Change background color on hover */
.navbar a:hover {
    background-color: #63a5a5; /* Change the background color to grey on hover */
    color: white; /* Set text color to white on hover (optional, in case you want to make the text more visible) */
}


.navbar a{
    position:relative;
    font-size:18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
  }

  
.navbar a::before {

    content: "";
    position: absolute;
    top: 100%;
    left:0;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: 0.3s;
}

.navbar a:hover::before {

    width: 100%;

}