.tetris-container {
    display: flex;
    flex-direction: column;    
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 33.33vh;
    z-index: -1;
    overflow: hidden;
}

body {
    background: #ffffff;
}

canvas {
    position: absolute;
    bottom: 0;
    left: 0;
}
